.zooniverse-browser-warning
  background rgba(0, 0, 0, 0.67)
  height 100%
  left 0
  position absolute
  top 0
  width 100%
  z-index 999

  section
    background #222
    border 1px solid #fff
    color #fff
    font 18px/36px "Helvetica Neue", Arial, sans-serif
    left 25%
    padding 20px
    position absolute
    top 10%
    width 50%

  .summary
    font-weight bold

  .ie
    font-size 14px

  a
    color #ea4624
    text-decoration none

  .action
    text-align right

    button
      background #000
      border: 0
      color #fff
      font-family inherit
      font-size inherit
      font-weight bold
      padding 5px 20px
