.zooniverse-browser-warning
  background rgba(black, 0.75)
  color white
  filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorStr=#cc000000, endColorStr=#cc000000)")
  font 18px "Helvetica Neue", Arial, sans-serif
  height 100%
  left 0
  position absolute
  text-align center
  top 0
  width 100%
  z-index 999

  .section
    background inherit
    filter inherit
    margin 30px auto
    padding 30px 0
    width 50%

  .summary
    font-weight bold

  .ie
    font-size 14px

    p
      margin 0

  a
    color #ea4624

  .action
    margin-top 40px;

    button
      background #ea4624
      border 0
      color white
      cursor pointer
      font-family inherit
      font-size inherit
      font-weight bold
      padding 5px 20px
