.dialog-underlay
  display: none
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%
  z-index: 999

  &.open
    display: block

  .dialog
    background: white
    color: black
    max-width: 50%
