.zooniverse-dialog {
  display: block;
  font-size: 10px;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
.zooniverse-dialog .underlay {
  background: rgba(0,0,0,0);
  display: table;
  width: 100%;
  transition: background-color 0.5s ease-in-out;
  height: 100%;
}
.zooniverse-dialog .underlay .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  perspective: 1000px;
}
.zooniverse-dialog .underlay .container .dialog {
  background: #f4f4f4;
  border-top: 5px solid #050505;
  box-shadow: 0 3px 5px rgba(0,0,0,0.5);
  display: inline-block;
  max-width: 33%;
  opacity: 0;
  padding: 30px;
  position: relative;
  text-align: left;
  transform: translateY(-50%) rotateX(45deg);
  transition: opacity 0.25s ease-in-out, transform 0.33s ease-in-out;
}
.zooniverse-dialog.showing .underlay {
  background: rgba(0,0,0,0.5);
}
.zooniverse-dialog.showing .underlay .container .dialog {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.zooniverse-dialog button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}
.zooniverse-dialog button[name="close-dialog"] {
  font-size: 16px;
  height: 1em;
  position: absolute;
  right: 4px;
  top: 0;
  width: 1em;
}
.zooniverse-dialog header {
  font-size: 16px;
  margin-bottom: 20px;
}
.zooniverse-dialog label {
  display: block;
  margin: 10px 0;
}
.zooniverse-dialog input {
  background: #f0f0f0;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  box-shadow: 0 1px 0 #fff;
  padding: 10px;
}
.zooniverse-dialog input:first-child {
  width: 100%;
}
.zooniverse-dialog .explanation {
  margin: 5px 13px;
  opacity: 0.75;
}
.zooniverse-dialog .error-message {
  color: #800000;
  font-weight: bold;
  text-align: center;
}
.zooniverse-dialog .action {
  margin: 10px 0;
  text-align: center;
}
.zooniverse-dialog .action button {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  box-shadow: 0 1px 0 #fff inset, 0 1px 3px rgba(0,0,0,0.125);
  font-weight: bold;
  margin: 0 5px;
  padding: 3px 10px;
}
.zooniverse-dialog .action button:active {
  border-color: rgba(0,0,0,0.25);
  box-shadow: 0 100px rgba(0,0,0,0.125) inset;
}
