.zooniverse-login-form {
  border-top: 1px solid $border-color;

  label {
    display: block;
    margin: 15px 0;
    text-align: center;

    > span {
      display: inline-block;
      width: 15em;
    }
  }

  p {
    margin: 0;
  }

  button {
    menu-item();
    background: transparent;
    border: 1px solid $border-color;
    color: inherit;
    font: {
      family: inherit;
      style: inherit;
      weight: inherit;
    };
    padding: 0.25em 1.5em;
  }

  > div {
    margin: 20px;
    text-align: center;
  }
}
