#ZOONIVERSE_RESET_BUTTON,
.zooniverse-top-bar button,
.zooniverse-groups-menu button,
.zooniverse-languages-menu button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
  text-shadow: inherit;
  text-transform: inherit;
}
.zooniverse-top-bar {
  background: #000;
  color: #fff;
  font: bold 11px "Helvetica Neue", Arial, Helvetica, sans-serif;
  line-height: 1;
  padding-right: 5px;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: none;
  top: 0;
  z-index: 100;
}
.zooniverse-top-bar > .corner {
  bottom: 0;
  position: absolute;
  right: 100%;
  top: 0;
  width: 20px;
}
.zooniverse-top-bar > .corner svg {
  height: 100%;
  width: 100%;
}
.zooniverse-top-bar > .corner path {
  fill: #000;
  stroke: transparent;
  stroke-width: 0;
}
.zooniverse-top-bar a {
  border: 0;
  color: inherit;
  text-decoration: none;
}
.zooniverse-top-bar .piece {
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
}
.zooniverse-top-bar .no-user {
  display: inline-block;
}
.zooniverse-top-bar .zooniverse-info {
  font-size: 13px;
}
.zooniverse-top-bar .zooniverse-logo {
  height: 25px;
  margin: -2px 5px 0 0;
  vertical-align: middle;
  width: 25px;
}
.zooniverse-top-bar .sign-in {
  font-size: 10px;
  text-transform: uppercase;
}
.zooniverse-top-bar .sign-in .separator {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.zooniverse-top-bar .current-user {
  display: none;
}
.zooniverse-top-bar .user-info {
  margin-left: 10px;
}
.zooniverse-top-bar .zooniverse-mail-icon {
  height: 0.75em;
}
.zooniverse-top-bar .current-user-name {
  font-size: 13px;
  font-weight: bold;
}
.zooniverse-top-bar .sign-out {
  font-size: 8px;
  text-transform: uppercase;
}
.zooniverse-top-bar .groups {
  display: none;
}
.zooniverse-top-bar .groups select {
  max-width: 100px;
}
.zooniverse-top-bar .groups select:disabled {
  opacity: 0.33;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=33)";
  filter: alpha(opacity=33);
}
.zooniverse-top-bar .messages {
  display: none;
}
.zooniverse-top-bar .avatar {
  margin: 0;
}
.zooniverse-top-bar .avatar img {
  border: 0;
  height: 30px;
  width: 30px;
}
.zooniverse-top-bar .languages {
  display: none;
}
.zooniverse-top-bar.signed-in .no-user {
  display: none;
}
.zooniverse-top-bar.signed-in .current-user {
  display: inline-block;
}
.zooniverse-top-bar.has-groups .groups {
  display: inline-block;
}
.zooniverse-top-bar.group-participant button[name="groups"] {
  color: #0f0;
}
.zooniverse-top-bar.has-messages .messages {
  display: inline-block;
}
.zooniverse-top-bar.has-languages .languages {
  display: inline-block;
}
.zooniverse-dropdown-menu.from-top-bar {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #000;
  border: 1px solid #999;
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  color: #fff;
  font: 12px "Helvetica Neue", sans-serif;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out, -moz-transform 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out, -o-transform 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out, -ms-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  z-index: 101;
}
.zooniverse-dropdown-menu.from-top-bar.open {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.zooniverse-groups-menu,
.zooniverse-languages-menu {
  text-align: center;
}
.zooniverse-groups-menu button,
.zooniverse-languages-menu button {
  border-bottom: 1px solid rgba(255,255,255,0.25);
  padding: 3px 15px;
  width: 100%;
}
.zooniverse-groups-menu button:hover,
.zooniverse-languages-menu button:hover {
  background: rgba(255,255,255,0.25);
}
.zooniverse-groups-menu button.active,
.zooniverse-languages-menu button.active {
  background: rgba(0,255,0,0.5);
}
.zooniverse-groups-menu button.stop,
.zooniverse-languages-menu button.stop {
  font-size: 10px;
}
