appearance(a)
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

body.show-top-bar .zooniverse-top-bar
  height: 100px

.zooniverse-top-bar
  transition(height 0.5s ease-in-out)
  bottom: 100%
  height: 5px
  left: 0
  position: relative
  width: 100%
  z-index: 999

  label
    display: block;
    font-size: 10px

  input, button, select
    margin-top: 10px
    height: 25px
    border-radius(3px)
    border: 1px $tb-border-color-1 solid

  button
    cursor: pointer
    box-shadow: inset 0px 1px 0px $tb-box-shadow-inset, 0px 1px 2px $tb-box-shadow
    background: $tb-button-bg
    color: $tb-text-color

  input[type="text"], input[type="password"]
    width: 115px
    margin-right: 5px
    padding-left: 5px
    background: $tb-input-bg
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4)
    border: 1px solid #000
    color: $tb-text-color

  button
    width: 85px
    margin-right: $gutter-size
    padding-bottom: 2px
    margin-right: 10px
    text-shadow: 0px 1px 1px $tb-button-text-shadow

  button[name="signout"]
    margin-left: 5px

#zooniverse-top-bar-container
  box-sizing(border-box)
  background: $tb-background
  border-bottom: 1px $tb-bottom-border solid
  bottom: 0
  color: $tb-text-color
  height: 100px
  font-family: "Open Sans"
  left: 0
  padding: 30px
  position: absolute
  width 100%

  h3
    font-size: 18px
    font-weight: 200
    line-height: 10px
    margin-top: 0
    margin-bottom: 0

    a
      font-weight: 700
      text-decoration: none
      color: $tb-text-color

  p
    font-size: 10px
    margin-bottom: 0

  #zooniverse-top-bar-info
    float: left
    padding-right: 10px
    width: 470px
    border-right: 1px $tb-border-color-1 solid
    height: 45px

  #zooniverse-top-bar-projects
    border-left: 1px $tb-border-color-2 solid
    float: left
    padding-left: 17px
    padding-right: 15px
    width: 300px
    height: 45px

    a
      font-weight: 700
      color: $tb-text-color
      text-decoration: none

    h3
      a
        font-weight: 200

  #zooniverse-top-bar-login
    float: right
    height: 45px

    h3
      display: inline
      line-height: 0

    .progress
      display: none

    .inputs
      display: inline-block

      p
        display: inline

    .buttons
      display: inline-block
      position: relative
      top: -28px

  #zooniverse-top-bar-languages
    float: right
    height: 45px
    display: none

    select
      background: $tb-background
      color: $tb-text-color
      margin-top: 12px
      appearance(none)
      padding: 5px
      border: 0
      margin-right: -5px

#zooniverse-top-bar-button
  background: $tb-background
  border-radius: 0px 0px 5px 5px
  border: 0 $tb-bottom-border solid
  border-width: 0 1px 1px
  height: 50px
  left: 50%
  margin-left: -25px
  position: absolute
  top: 100%
  width: 50px

  a
    display: block

  img
    border: 0
    margin-left: 8px
    margin-top: 6px

.dialog.sign-up
  height: 325px
  width: 300px
  font-family: "Open Sans"
  border: 1px solid $tb-border-color;
  padding: 30px

  label
    text-align: center;
    margin-top: 10px
    font-size: 10px
    display: block

    > span
      display: inline-block;
      width: 15em;

    input[type="text"], input[type="password"]
      width: 150px
      margin-top: 0

  p
    margin: 0;
    text-align: center
    font-size: 10px

  p.errors
    font-size: 10px

  button[type="submit"]
    padding: 0.25em 1.5em;
    margin-left: 5px
    width: 85px

  button.dialog-closer
    float: right

  > div
    margin: 20px;
    text-align: center;

@media (max-width: 1385px)
  #zooniverse-top-bar-container
    #zooniverse-top-bar-info
      width: auto

      h3
        margin-top: 17px

      p
        display: none

    #zooniverse-top-bar-projects
      width: 110px

      h3
        margin-top: 17px

      p
        display: none

@media (max-width: 1050px)
  #zooniverse-top-bar-container
    padding-left: 15px
    padding-right: 15px

@media (max-width: 990px)
  #zooniverse-top-bar-container
    #zooniverse-top-bar-info
      border: 0

    #zooniverse-top-bar-projects
      display: none
