.zooniverse-footer
  background: url("./images/zooniverse-logo-gray.png") no-repeat
  min-height: 200px
  padding-left: 200px

  .title
    font-size: 18px
    margin-bottom: 1em

  .projects
    font-size: 14px
    overflow: hidden

    .category
      float: left
      width: 25%

      .category-title
        text-transform: uppercase

      a
        color: inherit
        opacity: 0.75
        text-decoration: none

        &:hover
          opacity: 1