.zooniverse-footer
  background: url("./images/zooniverse-logo-gray.png") no-repeat
  min-height: 200px
  padding-left: 200px

  .title
    font-size: 20px

    .categories
      .category
        float: left
        width: 25%
