.zooniverse-footer
  background: url("./images/zooniverse-logo-gray.png") no-repeat
  font-size: 14px
  min-height: 200px
  padding-left: 200px

  .title
    font-size: 18px
    margin-bottom: 1em

  .projects
    font-size: 12px
    overflow: hidden

    .category
      float: left
      width: 25%

      .category-title
        font-size: 10px
        font-weight: bold
        letter-spacing: 1px
        text-transform: uppercase

      a
        color: inherit
        opacity: 0.67
        text-decoration: none

        &:hover
          opacity: 1
