.zooniverse-profile
  .sign-in-form
    display: block
    margin: 40px auto
    text-align: center
    width: 50%

    header
      font-size: 20px

    label
      display: block
      margin: 20px

      input
        background: #fff
        border: 1px solid #bbb
        border-radius: 3px
        box-shadow: 0 1px 1px #ccc inset, 0 2px 1px #fff
        box-sizing: border-box
        font-size: 16px
        padding: 10px
        width: 100%

    .error-message
      color: darken(#f00, 50%)

    .action
      margin: 20px

      button
        background: #fff
        border: 1px solid #bbb
        border-radius: 3px
        box-shadow: 0 1px 0 #fff inset, 0 1px 3px rgba(#000, 0.25)
        font-size: 12px
        font-weight: bold
        margin: 0 5px
        padding: 3px 10px

    .no-account button
      text-decoration: underline

  & > nav
    display: none
    overflow: hidden

    button
      background: #fff
      border-top: 1px solid rgba(#000, 0.25)
      box-shadow: 0 -1px 2px rgba(#000, 0.25) inset
      color: #000
      float: left
      font-weight: bold
      padding: 0 10px

      &:first-child
        border-radius: 2em 0 0 2em
        padding-right: 5px

      &:last-child
        border-radius: 0 2em 2em 0
        padding-left: 5px

      &.active
        background: rgba(#000, 0.25)
        box-shadow: 0 1px 2px rgba(#000, 0.25) inset
        color: #fff
        text-shadow: 0 1px 1px rgba(#000, 0.5)

  .zooniverse-paginator
    display: none

    .items
      margin: 1em 0
      overflow: hidden;

      .item
        box-sizing: border-box
        float: left
        padding: 10px
        width: 25%

        a
          display: block

          img
            background: #ccc
            display: block
            min-height: 20px
            width: 100%

    .controls
      text-align: center

  .empty-message
    display: none
    margin: 1em 0
    text-align: center

  &.signed-in
    .zooniverse-login-form
      display: none

    & > nav,
    .zooniverse-paginator.active
    .zooniverse-paginator.active.empty + .empty-message
      display: block

    .zooniverse-paginator.empty
      display: none
