.zooniverse-top-bar
  background: #000
  color: #fff
  font: bold 11px "Helvetica Neue", Arial, Helvetica, sans-serif
  height: 40px
  position: absolute
  right: 0
  text-align: center
  text-shadow: 0 1px 1px #000
  top: 0
  z-index 100

  &:before
    border-color: #000 #000 transparent transparent
    border-style: solid
    border-width: 20px 10px
    content: ""
    height: 0
    position: absolute
    right: 100%
    top: 0
    width: 0

  a
    border: 0
    color: inherit
    text-decoration: none

  button
    background: transparent
    border: 0
    color: inherit
    cursor: pointer
    font: inherit
    margin: 0
    padding: 0
    text-shadow: inherit
    text-transform: inherit

  .no-user
    display: block
    margin: 4px 6px 0

    .zooniverse,
    .sign-in
      display: inline-block
      margin: 0 6px
      vertical-align: middle

    .zooniverse
      font-size: 13px

      .zooniverse-logo
        display: inline-block
        height: 25px
        margin-right: 5px
        position: relative
        top: -2px
        vertical-align: middle
        width: 25px

    .sign-in
      font-size: 10px
      text-transform: uppercase

      button
        padding: 10px 0

  .current-user
    display: none
    margin-top: 5px

    .messages,
    .info,
    .avatar,
    .group
      display: inline-block
      margin: 0 6px
      vertical-align: middle

    .messages
      margin-top: -3px
      opacity: 0.33

      .message-count
        background: url("./images/message-envelope.png") right center no-repeat
        display: inline-block
        padding-right: 24px

    .info
      line-height: 1
      margin-top: -3px

      .current-user-name
        font-size: 13px
        font-weight: bold
        line-height: 1

      button
        font-size: 8px
        text-transform: uppercase

    .avatar
      img
        height: 30px
        width: 30px

    .group
      select
        appearance: none
        background: transparent
        border: 0
        color: inherit

        &:disabled
          opacity: 0.33

  &.signed-in
    .no-user
      display: none

    .current-user
      display: block

  &.has-messages .current-user .messages
    opacity: 1

  &.no-groups .current-user .group
    display: none

  .zooniverse-login-form
    button[name="sign-out"]
      display: none
